{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static '/css/estilos.css' %}" />
</head>
<body>
    <h1>Meu primeiro site Django</h1>
    
    <img src="{% static '/img/django.jpg' %}" width="200" />

    <h2>Seja bem vindo {{ nome }} {{ sobrenome }}!!</h2>
    <h3>Menu</h3>
    <ul>
        <li><a>Contato</a></li>
        <li><a>Produtos</a></li>
    </ul>
    
    <script src="{% static '/js/scripts.js' %}"></script>
</body>
</html>